<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Eccentrip</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Raleway|Lato|Noto+Sans:300,400,500,600" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/css" rel="stylesheet" media="screen,projection"/>
 <link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>


<body>
  <nav class="teal lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo" style="font-size: 20px">Home <i class="material-icons md-36">search</i></a>
    </div>
  </nav>

     {% block content %}{% endblock %}


  <footer class="page-footer deep-purple">
    <div class="container">
      <div class="row">
        <div class="col l10 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">This webapp was developed by Rafael Maia as part of the <a class='orange-text' href="https://www.insightdatascience.com" target="blank">Insight Data Science Fellows program</a>.</p>
        </div>
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="http://www.rafaelmaia.net" target="blank">Personal webpage</a></li>
            <li><a class="white-text" href="https://github.com/rmaia" target="blank">GitHub</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/rafaelmvq" target="blank">LinkedIn</a></li>
          </ul>
        </div>
   </div>

    <div class="footer-copyright">
      <div class="container">
      Made using <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>

  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script src="../static/js/init.js"></script>

  </body>
</html>
